* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: #023e8a;
    border: 1px solid #fff;
    height: 5.5rem;
    width: 100%;
}

#titulo {
    color: #fff;
    font-size: 1.8rem;
    height: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu {
    display: inline-flex;
    align-items: center;
    height: 1.8rem;
    list-style: none;
    gap: 1.5rem;
}

.div-nav {
    background-color: #6b9080;
    border: 1px solid #fff;
    height: 2rem;
    width: auto;
}

a {
    text-decoration: none;
    color: #000;
}

.li-nav-menu {
    font-weight: 600;
    font-size: 1rem;
}

.Article {
    background-color: #a4c3b2;
    border: 1px solid #fff;
    width: 30rem;
    height: auto;
    border-radius: 0.4rem;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.setcion-cards {
    background-color: #a4c3b2;
    border: 1px solid #000;
    min-width: 250px;
}

.cartas {
    background-color: #fff;
    border: 1px solid black;
    margin: 0.8rem;
    width: 31%;
    font-size: 17px;
    height: 30rem;
    text-align: center;
    overflow: scroll;
    box-shadow: 3px 3px #252422;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.imagen {
    width: 75%;
}

footer {
    background-color: #0d1b2a;
    border: 1px solid#fff;
    color: #fff;
    height: 3rem;
}

footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

.espacio {
    padding: 0.3rem;
}

li:hover {
    background-color: #023e8a;
}

@media screen and (max-width:450px) {
    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cartas {
        width: 80%;
    }

    #titulo {
        text-align: center;
    }

    .subtitulo-aside {
        font-size: 1.40rem;
    }

}